.card-container {
    cursor: pointer;
    width: 200px;
    height: 400px;
    background-color:  #212121; 
    border-radius: 8px;
    overflow: hidden;
    font-family: sans-serif;
    color: #fff;
    position: relative;
  }
  
  .card-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 150%; 
    overflow: hidden;
    background: #000;
  }
  
  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  
  .discount-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #ff4444;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 0.75rem;
  }
  

  .cart-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .card-content {
    padding: 8px;
  }
  
  .card-content h3 {
    font-size: 1rem;
    margin: 8px 0;
  }
  
  .stars {
    display: flex;
    gap: 2px;
    font-size: 0.9rem;
  }

  @media (max-width:760px) {
    .card-container{
      width: 150px;
      height: 250px;
    }
    .card-content h3 {
      font-size: 0.8rem;
    }
    .card-image{
      padding-bottom: 100%; 
    }
  }
  
  @media (max-width:430px) {
    .card-container{
      width: 100px;
      height: 200px;
    }
    .card-content h3 {
      font-size: 0.8rem;
    }
    .card-image{
      padding-bottom: 100%; 
    }
  }
