@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products{
    @include display;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px;
    overflow: hidden;
    background-color:  #1A1A1A;
    h1{
        color: gold;
        padding: 5px;
        border-bottom: 1px solid gold;
    }
    .cards{
        @include display;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }

    @media (max-width:430px) {
        padding: 20px 10px;
        gap: 10px;
    }
}